// COLORS 

$color-white: #F0EFFC;

$color-purple-light: #615AD3;
$color-purple-dark: #312D6A;

$color-blue: #17C0EB;

$color-green: #2EEAB7;

$color-black: #000;

$color-grey-light: #f7f7f7;

$color-red: #f85757;

