
.u-margin-bottom-2rem { margin-bottom: 2rem; }
.u-margin-bottom-3rem { margin-bottom: 3rem; }
.u-margin-bottom-5rem { margin-bottom: 5rem; }
.u-margin-bottom-8rem { margin-bottom: 8rem; }

.u-center-text { text-align: center; }

.u-flex-sp-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.u-flex-sp-between {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}