.main-wrapper {

    width: 100vw;
    height: 100vh;
 
    padding-top: 4rem;
    
    //position: relative;

}


// The different cards
#start {
    display: block;
}

#step1 {
    display: none;
}

#step2 {
    display: none;
}

#step3 {
    display: none;
}

#step4 {
    display: none;
}

#step5 {
    display: none;
}
